@charset "utf-8";

/* 폰트 불러오기 NotoSans */
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/noto-sans-kr-v12-latin_korean-300.woff2) format('woff2'),
         url(../fonts/noto-sans-kr-v12-latin_korean-300.woff) format('woff');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/lato-v23-latin-300.woff2) format('woff2'),
         url(../fonts/lato-v23-latin-300.woff) format('woff');
    unicode-range: U+0030-007A;
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/noto-sans-kr-v12-latin_korean-regular.woff2) format('woff2'),
         url(../fonts/noto-sans-kr-v12-latin_korean-regular.woff) format('woff');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/lato-v23-latin-regular.woff2) format('woff2'),
         url(../fonts/lato-v23-latin-regular.woff) format('woff');
    unicode-range: U+0030-007A;
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/noto-sans-kr-v12-latin_korean-500.woff2) format('woff2'),
         url(../fonts/noto-sans-kr-v12-latin_korean-500.woff) format('woff');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/lato-v23-latin-700.woff2) format('woff2'),
         url(../fonts/lato-v23-latin-700.woff) format('woff');
    unicode-range: U+0030-007A;
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/noto-sans-kr-v12-latin_korean-700.woff2) format('woff2'),
         url(../fonts/noto-sans-kr-v12-latin_korean-700.woff) format('woff');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/lato-v23-latin-900.woff2) format('woff2'),
         url(../fonts/lato-v23-latin-900.woff) format('woff');
    unicode-range: U+0030-007A;
}

/* 초기화 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, span, legend, table, caption, tbody, tfoot, thead, tr, th, td, button {margin:0;padding:0;border:0;}

ol, ul, li, dl, dt, dd {list-style:none;margin:0;padding:0;}
a, a:link, a:visited, a:active { text-decoration: none; }
table {border-spacing:0;border-collapse: collapse;}
img { -ms-interpolation-mode: bicubic; vertical-align: top; max-width: 100%;}
select { color:#222; vertical-align:middle; padding: 5px; border: 1px solid #e4e4e4; height: 35px; padding-left: 10px; min-width: 130px; }
input { color:#222; vertical-align:middle; border: 1px solid #e4e4e4; height: 35px; }
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0; padding-left: 10px;}
input[type='date'], input[type='time'] { padding-left: 10px; width: 130px; }
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
h1, h2, h3, h4, h5, h6{font-weight:normal;font-size:1em;}
button { background: none; cursor: pointer; }
textarea { resize: none; border: 1px solid #e4e4e4; padding: 10px 20px; font-size: 14px; height:150px;}
input, textarea { font-family: NotoSans; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }
a, button { -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; font-family: NotoSans; }
html, body { height: 100%; }
.body_wrap { font-size: 15px; line-height:1.4; font-family: NotoSans, HelveticaNeue-Light, AppleSDGothicNeo-Light, Arial, sans-serif; color:#333; 
	min-height: 100%; height: auto !important; position: relative; padding-left: 0px; }

input[type="checkbox"] { width: 20px; height: 20px; border: 1px solid #d8d8d8; border-radius: 5px; }
input[type="radio"] { width: 20px; height: 20px; border: 1px solid #d8d8d8; }
label { cursor: pointer; }
input[type="file"] { border: none; }

.login_wrap { background: url(../images/bg_login.jpg) center no-repeat; background-size: cover; }
.login_conts { width: 1300px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; justify-content: space-between; align-content: center; align-items: center; }
.login_conts .tit { width: 600px; text-align: center; }
.login_conts .tit h1 { font-size: 53px; font-weight: 700; color: #fff; margin-bottom: 40px; }
.login_conts .tit h1 span { color: #02CCDB; }
.login_conts .tit p { font-size: 20px; font-weight: 300; color: #fff; }
.login_box { width: 550px; background-color: #fff; border-radius: 30px; padding: 70px; }
.login_box h3 { font-size: 60px; font-weight: 500; color: #000; text-align: center; margin-bottom: 20px; }
.login_box .input_wrap { height: 60px; border: 1px solid #CFCFCF; border-radius: 10px; padding: 0 20px; position: relative; padding-left: 100px; margin-bottom: 10px; }
.login_box .input_wrap input { width: 100%; height: 58px; width: 300px; border: none; text-align: center; }
.login_box .input_wrap .item { position: absolute; top: 0; left: 0; width: 100px; line-height: 58px; text-align: center; font-size: 16px; font-weight: 700; color: #000; }
.login_box .input_wrap .item::after { content: ""; position: absolute; right: 1px; top: 20px; width: 1px; height: 18px; background-color: #E2E2E2; }
.login_box .input_wrap .item img { vertical-align: middle; margin-top: -3px; margin-right: 7px; }
.login_box label { font-size: 13px; color: #888; line-height: 20px; margin-top: 20px; }
.login_box label input { margin-right: 5px; }
.login_box .btn_login { display: block; height: 60px; border-radius: 10px; background-color: #0DBECB; text-align: center; line-height: 60px; font-size: 20px; font-weight: 700; color: #fff; margin-top: 30px; }
.login_box .btn_login:hover { background-color: #00a8b4; }

.aside { position: fixed; top: 0; left: 0; width: 280px; height: 100%; background-color: #132D46; }
.aside .tit { height: 130px; }
.aside .tit h1 { font-size: 26px; font-weight: 700; color: #fff; text-align: center; line-height: 1.2; padding-top: 35px; }
.aside .tit h1 span { color: #02CCDB; }
.aside .user { height: 48px; line-height: 48px; padding-left: 25px; position: relative; background-color: #0D2031; }
.aside .user p { font-size: 17px; font-weight: 300; color: #fff; padding-left: 30px; background: url(../images/icon_people.png) center left no-repeat; }
.aside .user p strong { font-weight: 500; }
.aside .user .btn_logout { position: absolute; top: 9px; right: 15px; height: 30px; line-height: 30px; padding: 0 20px; font-size: 14px; color: #fff; border-radius: 5px; background-color: #2D4863; opacity: 0.8; }
.aside .user .btn_logout:hover { opacity: 1; }
.aside_footer { height: 60px; }
.aside_footer .copy { text-align: center; font-size: 12px; color: #fff; padding: 0 40px; opacity: 0.7; font-weight: 300; padding-top: 10px; }
.nav_wrap { padding-top: 30px; height: calc(100% - 258px); overflow-y: auto; }
.nav > li > a { display: block; height: 50px; line-height: 50px; padding-left: 25px; font-size: 18px; font-weight: 500; color: #fff; background: url(../images/arrD_01.png) right 15px center no-repeat; }
.nav > li > a:hover { background-color: #0DBECB; }
.nav > li > a.selected { background: #0DBECB url(../images/arrU_01.png) right 15px center no-repeat; }
.nav > li > a::before { content: ""; display: inline-block; width: 30px; height: 30px; vertical-align: middle; margin-top: -5px; margin-right: 5px; transition: all 0.2s ease-in-out; }
.nav_01::before { background: url(../images/icon_menu.png) 0 0 no-repeat; }
.nav_02::before { background: url(../images/icon_menu.png) -30px 0 no-repeat; }
.nav_03::before { background: url(../images/icon_menu.png) -60px 0 no-repeat; }
.nav_04::before { background: url(../images/icon_menu.png) -90px 0 no-repeat; }
.nav_05::before { background: url(../images/icon_menu.png) 0 -30px no-repeat; }
.nav_06::before { background: url(../images/icon_menu.png) -30px -30px no-repeat; }
.nav_07::before { background: url(../images/icon_menu.png) -60px -30px no-repeat; }
.nav_08::before { background: url(../images/icon_menu.png) -90px -30px no-repeat; }
.nav_09::before { background: url(../images/icon_menu.png) 0 -60px no-repeat; }
.nav_10::before { background: url(../images/icon_menu.png) -30px -60px no-repeat; }
.nav_11::before { background: url(../images/icon_menu.png) -60px -60px no-repeat; }
.nav_12::before { background: url(../images/icon_menu.png) -90px -60px no-repeat; }

.nav_01:hover::before { background: url(../images/icon_menu_wh.png) 0 0 no-repeat; }
.nav_02:hover::before { background: url(../images/icon_menu_wh.png) -30px 0 no-repeat; }
.nav_03:hover::before { background: url(../images/icon_menu_wh.png) -60px 0 no-repeat; }
.nav_04:hover::before { background: url(../images/icon_menu_wh.png) -90px 0 no-repeat; }
.nav_05:hover::before { background: url(../images/icon_menu_wh.png) 0 -30px no-repeat; }
.nav_06:hover::before { background: url(../images/icon_menu_wh.png) -30px -30px no-repeat; }
.nav_07:hover::before { background: url(../images/icon_menu_wh.png) -60px -30px no-repeat; }
.nav_08:hover::before { background: url(../images/icon_menu_wh.png) -90px -30px no-repeat; }
.nav_09:hover::before { background: url(../images/icon_menu_wh.png) 0 -60px no-repeat; }
.nav_10:hover::before { background: url(../images/icon_menu_wh.png) -30px -60px no-repeat; }
.nav_11:hover::before { background: url(../images/icon_menu_wh.png) -60px -60px no-repeat; }
.nav_12:hover::before { background: url(../images/icon_menu_wh.png) -90px -60px no-repeat; }
.nav_01.selected::before { background: url(../images/icon_menu_wh.png) 0 0 no-repeat; }
.nav_02.selected::before { background: url(../images/icon_menu_wh.png) -30px 0 no-repeat; }
.nav_03.selected::before { background: url(../images/icon_menu_wh.png) -60px 0 no-repeat; }
.nav_04.selected::before { background: url(../images/icon_menu_wh.png) -90px 0 no-repeat; }
.nav_05.selected::before { background: url(../images/icon_menu_wh.png) 0 -30px no-repeat; }
.nav_06.selected::before { background: url(../images/icon_menu_wh.png) -30px -30px no-repeat; }
.nav_07.selected::before { background: url(../images/icon_menu_wh.png) -60px -30px no-repeat; }
.nav_08.selected::before { background: url(../images/icon_menu_wh.png) -90px -30px no-repeat; }
.nav_09.selected::before { background: url(../images/icon_menu_wh.png) 0 -60px no-repeat; }
.nav_10.selected::before { background: url(../images/icon_menu_wh.png) -30px -60px no-repeat; }
.nav_11.selected::before { background: url(../images/icon_menu_wh.png) -60px -60px no-repeat; }
.nav_12.selected::before { background: url(../images/icon_menu_wh.png) -90px -60px no-repeat; }

.nav_sub { display: none; padding-bottom: 15px; }
.nav_sub li a { display: block; height: 40px; line-height: 40px; padding-left: 50px; font-size: 16px; color: #fff; }
.nav_sub li a:hover { color: #02CCDB; }
.nav_sub li a.selected { color: #02CCDB; }
.nav_sub2 li a { padding-left: 65px; }
.nav_sub.selected {display:block;}

.conts { position: absolute; top: 0; left: 280px; width: calc(100% - 280px); height: 100%; background-color: #fff; padding:0 20px; }
.conts .tit { padding-top: 20px; margin-bottom: 10px; position: relative; }
.conts .tit h3 { font-size: 20px; font-weight: bold; color: #222; }
.conts .tit .loc { position: absolute; top: 20px; right: 0; }
.loc li { float: left; font-size: 14px; color: #666; padding-right: 12px; margin-right: 8px; background: url(../images/arrR_01.png) right center no-repeat; }
.loc li:last-child { font-weight: 500; color: #222; background: none; }

.top_s_box { border-radius: 18px; background-color: #F8F8F8; padding: 10px 30px; margin: 10px 0; width:100%; 
display: flex; align-items: flex-end; }
.top_s_box > div:nth-child(1) {flex-grow: 1; margin:10px 0; line-height:40px;}
.top_s_box > div:nth-child(2) {flex-shrink: 0; width: 180px;}
.top_s_box label { font-size: 14px; color: #222; }
.space20 { display: inline-block; width: 20px; }

.btn_box_c { margin: 10px 0; text-align: center; }
.btn_box_r { margin: 10px 0; text-align: right; }
.btn { display: inline-block; min-width: 75px; height: 40px; padding: 0 10px; font-size: 14px; font-weight: 500; color: #fff; border-radius: 5px; opacity: 0.9; line-height: 40px; text-align: center; }
.btn:hover { opacity: 1; }
.bg_gray { background-color: #999; }
.bg_blue { background-color: #0DBECB; }
.bg_black { background-color: #333; }
.btn_orange { background-color: #F86D25; }
.btn_green { background-color: #317041; }
.outline { border: 1px solid #333; color: #333; }

.table_01 { width: 100%; border-top: 1px solid #132D46; text-align: center; }
.table_01 th { height: 34px; font-size: 14px; font-weight: 500; color: #333; background-color: #F8F8F8; border: 1px solid #ddd; border-top: none; }
.table_01 td { height: 34px; font-size: 14px; color: #333; border: 1px solid #ddd; border-top: none; }
.table_01 tr:hover { background-color: #0DBECB;}
.table_01 tr:hover td { color: #fff;}

.table_02 { width: 100%; border-top: 1px solid #132D46; text-align: left; }
.table_02 th { height: 42px; font-size: 14px; font-weight: 500; color: #333; background-color: #F8F8F8; border: 1px solid #ddd; border-top: none; padding-left: 30px; }
.table_02 th .sup { color: #0DBECB; }
.table_02 td { height: 42px; font-size: 14px; color: #333; border: 1px solid #ddd; border-top: none; padding: 7px 10px 7px 10px; }
.table_02 label { margin-right: 30px; }
.table_02 label input { margin-right: 5px;}
.table_02 td input[type="text"], .table_02 td textarea { width: 100%; }
.table_02 td p { margin: 10px 0; }
.table_02 td.content p { margin: 0px 0; }
.table_02 td button { height: 35px; line-height: 35px; vertical-align: middle; }
.preview_img { margin: 10px 0; }
.preview_img img { border:1px solid #ddd; }

.pagination { margin: 20px 0 0 0; text-align: center; position: relative; }
.pagination ul { display: inline-block; overflow: hidden; }
.pagination ul li { float: left; margin: 0 5px; }
.pagination ul li a { display: inline-block; line-height: 35px; font-size: 15px; color: #333;  padding: 0 5px; }
.pagination ul li a:hover { color: #0DBECB; }
.pagination ul li a.active { font-weight: 700; color: #0DBECB; border-bottom: 2px solid #0DBECB; }
.pagination .pgn_right { display: inline-block; margin-left: 30px; vertical-align: top; }
.paging_tool { display: inline-block; margin-right: 10px; vertical-align: top; }
.paging_tool > a { display: inline-block; line-height: 35px; border-radius: 5px; background-color: #999; font-size: 14px; color: #fff; width: 70px; opacity: 0.9; }
.paging_tool > a:hover { opacity: 1; }
.paging_tool > a img { vertical-align: middle; margin: -3px 5px 0 5px;  }
.paging_tool .page_input { display: inline-block; text-align: left; }
.paging_tool .page_input input { width: 100px; vertical-align: top; border-radius: 5px; }
.paging_tool .page_input button { width: 60px; height: 35px; background-color: #333; opacity: 0.9; border-radius: 5px; color: #fff; }
.paging_tool .page_input button:hover { opacity: 1; }
.pagination .btn_box { position: relative; margin: 10px 0; height: 35px; }
.pagination .btn_gray { display: inline-block; width: 80px; height: 35px; background-color: #8c8c8c; color: #fff; font-size: 16px; line-height: 35px; text-align: center; }
.pagination .btn_blue { display: inline-block; width: 80px; height: 35px; background-color: #0596bb; color: #fff; font-size: 16px; line-height: 35px; text-align: center; }
.pagination .btn_white { display: inline-block; width: 78px; height: 33px; background-color: #fff; color: #666; font-size: 16px; line-height: 35px; text-align: center; border: 1px solid #cacaca; border-radius: 3px; }

/*===================*/
.conts_view_list {height:calc(100% - 290px); overflow: auto; border:1px solid #ccc;}
.conts_view_list .btn {height:20px; line-height: 20px; min-width: 45px; color:#fff;}
.conts_view_list.view_nosearch {height:calc(100% - 200px); }
.conts_view_list.view_search2 {height:calc(100% - 340px); }

.conts_view_view {height:calc(100% - 140px); overflow: auto; border:1px solid #ccc;}
.conts_view_view .row {vertical-align:top; padding-top:10px;}
.conts_view_view .row .preview_img {margin:0;}
.preview_img img { max-height:90px; }

.table_02 th.th_tit {font-size:16px; background-color:#e0e0e0;}

.viewNone {display:none;}
/*=================== */

.dateterm {display:inline-block; padding-left:5px; margin:0px !important;}
.dateterm span {border:1px solid #cccccc; background:#eeeeee; display:inline-block; vertical-align:middle;  height:33px; line-height:30px; padding:0px 10px; cursor:pointer;}
.dateterm span.on {background:#1795bb; color:#ffffff;}

.noData {text-align:center;font-size:16px;padding:20px;}
.td_span {color: #2F6DAF; padding-left:10px; font-size:13px;}

.t_center {padding:0px; text-align:center;}
.t_left {padding-left:10px; text-align:left;}
.t_right  {padding-right:10px; text-align:right;}

.wthFull {width:96% !important;}
.wthHalf {width:48% !important;}
.wth40 {width:40px !important;}
.wth60 {width:60px !important;}
.wth80 {width:80px !important;}
.wth100 {width:100px !important;}
.wth120 {width:120px !important;}
.wth150 {width:150px !important;}
.wth200 {width:200px !important;}
.wth250 {width:250px !important;}
.wth300 {width:300px !important;}
.wth350 {width:350px !important;}
.wth400 {width:400px !important;}
.wth500 {width:500px !important;}
.wth600 {width:600px !important;}
.wth800 {width:800px !important;}

.wth200_cont {width:97%; height:200px;}

.smarteditor {height:350px; width:96% !important;}

#viewLoading {display:none; background-color:rgba(51, 51, 51, 0.5); position: absolute; top: 0; left: 0; width: 100%; height: 100%;  z-index:999; }
#viewLoading img {margin:-21px 0 0 -21px; top:50%; left:50%; position: fixed; padding:5px; background:#fff; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}

#viewAlert {display:none; background-color:rgba(51, 51, 51, 0.5); position: absolute; top: 0; left: 0; width: 100%; height: 100%;  z-index:999; }
.alert_div {border:4px double #cedda8; padding:10px; margin-left:-165px; width:330px; top:50%; left:50%; position:fixed; background:#fff; 
	-moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
.tblAlert { width:300px; -moz-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;}
.tblAlert td {padding:10px;}
.tblAlert td.tit {font-weight:bold; font-size:18px; border-bottom:1px solid #33b2cd;}
.tblAlert td.cont {height:50px; line-height:24px; vertical-align:top;  border-bottom:1px solid #33b2cd; padding:20px 10px;}
.tblAlert td.btn_div {text-align:center;}
.tblAlert td.btn_div a {margin:0 5px; text-decoration: none;}
.tblAlert td.btn_div .btn { display: inline-block; min-width: 75px; height: 40px; padding: 0 10px; font-size: 14px; font-weight: 500; color: #fff; border-radius: 5px; opacity: 0.9; line-height: 40px; text-align: center; }
.tblAlert td.btn_div .btn:hover { opacity: 1; }
.tblAlert td.btn_div .bg_gray { background-color: #999; }
.tblAlert td.btn_div .bg_blue { background-color: #0DBECB; }

.txt_small {font-size:12px; color:#999;}



